
html,body
  margin 0
  padding 0
  height 100%

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  text-decoration none

core-header-panel
  height 100%
  overflow auto
  -webkit-overflow-scrolling touch
  -webkit-app-region drag 

core-toolbar
  background #03a9f4
  color white

[drawer] 
  background-color: #B99588;
  border-right: 1px solid #ccc;

#toobar
  min-height 64px
  backgtound #03a9f4
  -webkit-app-region drag

#tabs
  width 100%
  margin 0
  -webkit-user-select none
  user-select none